<div class="banner-div">
    <img class="banner-image" src="../../assets/IMG_1229_extra_wide.jpg" />
    <div class="banner-img-text">Who am I?</div>
</div>
<div>
    <p class="text"><b>Who am I?</b> This is the question Jackie Chan asked us in his 
        <a href="https://en.wikipedia.org/wiki/Who_Am_I%3F_(1998_film)">homonymous film</a>. 
        My name is Daniel Gray, and I'm pleased to meet you.</p>
    <p class="text">I am a {{ getAge() }} year old native Washingtonian and Seattleite, husband,
        software engineer, tinkerer, cat-dad, and backpacker. I grew up in Seattle's Rainier Valley and
        attended Garfield High School, but spent my senior year in Indianapolis. I returned to the
        Evergreen State to get my BS in Computer Science at Seattle Pacific University, meeting my wonderful
        wife Alyssa along the way. We've since settled in Everett, WA where I'm working as a Software Engineer for
        Astronics AES. 
    </p>
</div>
