<div>
    <div class="title-text">Professional</div>
    <p class="text">This page functions as a portfolio of sorts. Check out what I've been tinkering on 
        in the realm of software, embedded programming, 3D printing and/or hardware engineering.
    </p>
</div>
<div class="tabs">
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="This Website"><app-this-site></app-this-site></mat-tab>
        <mat-tab label="Keyboard"><app-keyboard></app-keyboard></mat-tab>
    </mat-tab-group>
</div>