
<!-- Toolbar -->
<mat-toolbar>
    Daniel Gray
</mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <button mat-button (click)="sideMenuClick('')" class="menu-button">
                <mat-icon>face</mat-icon>
                <span>About</span>
            </button>
            <button mat-button (click)="sideMenuClick('professional')" class="menu-button">
                <mat-icon>person</mat-icon>
                <span>Professional</span>
            </button>
            <button mat-button (click)="sideMenuClick('personal')" class="menu-button">
                <mat-icon>explore</mat-icon>
                <span>Personal</span>
            </button>
    
        </mat-sidenav>
        
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
               <router-outlet></router-outlet>
            </div>
        
        </mat-sidenav-content>
    </mat-sidenav-container>

  